<script src="/js/jquery-1.11.3.js"></script>
<!--materialize js-->
<script type="text/javascript" src="/js/materialize.js"></script>
<script type="text/javascript" src="/js/moment.min.js"></script>
<!--scrollbar-->
<script type="text/javascript" src="/js/perfect-scrollbar.min.js"></script>


<!-- chartist -->
<script type="text/javascript" src="/js/chartist.min.js"></script>

<!-- chartjs -->
<script type="text/javascript" src="/js/chart.min.js"></script>

<!-- sparkline -->
<script type="text/javascript" src="/js/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="/js/sparkline-script.js"></script>

<!--jvectormap-->
<script type="text/javascript" src="/js/jquery-jvectormap-1.2.2.min.js"></script>
<script type="text/javascript" src="/js/jquery-jvectormap-world-mill-en.js"></script>
<script type="text/javascript" src="/js/vectormap-script.js"></script>


<!--plugins.js - Some Specific JS codes for Plugin Settings-->
