<!-- START LEFT SIDEBAR NAV-->
<aside id="left-sidebar-nav">
    <ul id="slide-out" class="side-nav fixed leftside-navigation">
        <li class="user-details cyan darken-2">
            <div class="row">
                <div class="col col s4 m4 l4">
                    <img src="/img/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
                </div>

            </div>
        </li>
        <li class="bold"><a href="/dbList" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i>数据库列表</a>
        </li>
        <li class="bold"><a href="/templateList" class="waves-effect waves-cyan"><i class="mdi-communication-email"></i> 模板管理 <span class="new badge">4</span></a>
        </li>
        <li class="bold"><a href="/configList" class="waves-effect waves-cyan"><i class="mdi-editor-insert-invitation"></i>系统配置</a>
        </li>

    </ul>
    <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only darken-2"><i class="mdi-navigation-menu" ></i></a>
</aside>
<!-- END LEFT SIDEBAR NAV-->