<!DOCTYPE >
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="common/receource">
</head>

<body>
    <header th:include="common/header"></header>


    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">

            <aside th:include="common/sidebar"></aside>

            <!-- START CONTENT -->
            <section id="content">

                <!--start container-->
                <div class="container">
                    <div class="row">
                        <p>强大的模板管理，生成属于你需要的代码</p>
                        <p>点击左侧开始</p>
                    </div>

                </div>
                <!--end container-->
            </section>
            <!-- END CONTENT -->

            <aside th:include="common/rightSidebar"></aside>

        </div>
        <!-- END WRAPPER -->

    </div>
    <!-- END MAIN -->

    <footer th:include="common/footer" style="margin-top: 500px"></footer>

    <div th:include="common/scripts"></div>
</body>

</html>
