<!DOCTYPE >
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="common/receource">
</head>

<body>
    <header th:include="common/header"></header>


    <input type="hidden" th:value="${key}" id="addressId"/>
    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">

            <aside th:include="common/sidebar"></aside>

            <!-- START CONTENT -->
            <section id="content">

                <!--start container-->
                <div class="container">
                    <h4>表一览</h4>
                    <table class="striped bordered">
                        <thead>
                        <tr>
                            <th data-field="id">名称</th>
                            <th>备注</th>
                            <th data-field="operation">
                                <input type="checkbox" class="filled-in" id="chooseAllCheckbox">
                                <label for="chooseAllCheckbox"></label>
                            </th>
                        </tr>
                        </thead>
                        <tbody id="dbListId">
                        <!--/*@thymesVar id="config" type="com.github.mustfun.generator.model.po.DbConfigPo"*/-->
                        <tr th:each="table : ${tables}">
                            <td th:text="${table.tableName}"></td>
                            <td th:text="${table.getComment()}"></td>
                            <td>
                                <p>
                                    <input type="checkbox" class="filled-in" th:value="${table.tableName}" th:name="checked-table-name" th:id="${table.tableName}+id">
                                    <label  th:for="${table.tableName}+id">选择这个</label>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <!--end container-->
            </section>
            <!-- END CONTENT -->
            <section>
                <div th:class="container" style="margin-top: 20px">

                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="请输入包名，不输入默认com.github.mustfun" id="packageName" name="packageName" type="text">
                            <label  class="active">包名</label>
                        </div>
                    </div>


                    <button class="btn waves-effect waves-light " type="submit" name="action" onclick="return generateCode()">立即生成
                        <i class="mdi-content-send right"></i>
                    </button>
                </div>
            </section>

            <aside th:include="common/rightSidebar"></aside>

        </div>
        <!-- END WRAPPER -->

        <div id="fixed-action-button" class="section">
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="fixed-action-btn">
                        <a class="btn-floating btn-large red" onclick="return addDbConfig()">
                            <i class="large mdi-content-add"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- END MAIN -->

    <footer th:include="common/footer"></footer>

    <div th:include="common/scripts"></div>
</body>
<script>
    var moInstance;
    function addDbConfig() {
        moInstance.open();
    }

    $(document).ready(function(){
        var elem = document.querySelector('.modal');
        moInstance = M.Modal.init(elem);

        $('.modal').modal();
    });

    function generateCode(){
        var tableName="";
        var box = $("input[name='checked-table-name']:checked");
        box.each(function (i) {
            if (i==box.length-1){
                tableName=tableName+this.value
            }else{
                tableName=tableName+this.value+",";
            }
        });
        window.location.href="/api/generate_code?tableName="+encodeURIComponent(tableName)+"&address="+$("#addressId").val()+"&packageName="+$("#packageName").val();
        /*$.ajax({
            url:"/api/generate_code?tableName="+encodeURIComponent(tableName)+"&address="+$("#addressId").val(),
            type:'GET', //GET
            async:true,    //或false,是否异步
            contentType:"application/x-www-form-urlencoded",
            success:function(data,textStatus,jqXHR){

            },
            error:function(xhr,textStatus){
                alert("请求创建失败，请联系开发人员");
            }
        })*/
    }


    //全选/取消全选
    $("#chooseAllCheckbox").click(function () {
        var roomids = document.getElementsByName("checked-table-name");
        for (var j = 0; j < roomids.length; j++) {
            roomids.item(j).checked = !roomids.item(j).checked;
        }
    });

</script>
</html>
