<!DOCTYPE >
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="common/receource">
</head>

<body>
    <header th:include="common/header"></header>


    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">

            <aside th:include="common/sidebar"></aside>

            <!-- START CONTENT -->
            <section id="content">

                <!--start container-->
                <div class="container">
                    <h4>数据库列表</h4>
                    <table class="striped bordered">
                        <thead>
                        <tr>
                            <th data-field="id">模板名称</th>
                            <th data-field="name">模板描述</th>
                            <th data-field="price">创建人</th>
                            <th data-field="price">模板类型</th>
                            <th data-field="price">数据库类型</th>
                            <th data-field="operation">操作</th>
                        </tr>
                        </thead>
                        <tbody id="dbListId">
                        <!--/*@thymesVar id="config" type="com.github.mustfun.generator.model.po.Template"*/-->
                        <tr th:each="config : ${templateList}">
                            <td th:text="${config.tepName}"></td>
                            <td th:text="${config.tepDesc}">Eclair</td>
                            <td th:text="${config.createBy}">Eclair</td>
                            <th:block th:each="vm: ${vmTypeList}">
                                <td th:if="${config.vmType}==${vm.code}" th:text="${vm.getMgs()}">$0.87</td>
                            </th:block>
                            <th:block th:each="vm: ${dbTypeList}">
                                <td th:if="${config.dbType}==${vm.code}" th:text="${vm.getMgs()}">$0.87</td>
                            </th:block>
                            <td><a class="btn-floating waves-effect waves-light error" onclick="chooseThis(this)"><i class="mdi-action-delete"></i>选择这个</a></td>
                            <input type="hidden"  th:value="${config.id}">
                        </tr>
                        </tbody>
                    </table>

                </div>
                <!--end container-->
            </section>
            <!-- END CONTENT -->


            <aside th:include="common/rightSidebar"></aside>

        </div>
        <!-- END WRAPPER -->

        <div id="fixed-action-button" class="section">
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="fixed-action-btn">
                        <a class="btn-floating btn-large red" onclick="return addDbConfig()">
                            <i class="large mdi-content-add"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- END MAIN -->
    <div id="modal1" class="modal modal-fixed-footer" tabindex="0" _vimium-has-onclick-listener="" style="z-index: 1003; display: none; opacity: 0; top: 4%; transform: scaleX(0.8) scaleY(0.8);">
        <div class="modal-content">
            <h4>模板新增</h4>
            <form class="col s12" id="myDbForm">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="请输入模板名称" id="tepName" name="tepName" type="text">
                        <label  class="active">模板名称</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="请输入模板描述" id="tepDesc" name="tepDesc" type="text">
                        <label  class="active">模板描述</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea  class="materialize-textarea" id="tepContent" name="tepContent"></textarea>
                        <label for="tepContent">请输入模板内容</label>
                    </div>
                </div>
                <div class="row" >
                    <div class="input-field col s12" >
                        <select name="vmType">
                            <option th:each="vmT:${vmTypeList}" th:text="${vmT.getMgs()}" th:value="${vmT.getCode()}"> </option>
                        </select>
                        <label>请选择模板类型</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select name="dbType">
                            <option th:each="vmT:${dbTypeList}" th:text="${vmT.getMgs()}" th:value="${vmT.getCode()}"> </option>
                        </select>
                        <label>请选择数据库类型</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="请输入创建人" id="createBy" name="createBy" type="text">
                        <label class="active">创建人</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat " onclick="moInstance.close()">取消</a>
            <a href="#!" class="modal-action  waves-effect waves-green btn-flat " onclick="return submitDBConfig();">提交</a>
        </div>
    </div>

    <footer th:include="common/footer"></footer>

    <div th:include="common/scripts"></div>
</body>
<script>
    var moInstance;
    function addDbConfig() {
        moInstance.open();
    }

    $(document).ready(function(){
        $('select').formSelect();
    });

    $(document).ready(function(){
        var elem = document.querySelector('.modal');
        moInstance = M.Modal.init(elem);

        $('.modal').modal();
    });
    
    function submitDBConfig() {
        var formData={};
        var t = $('#myDbForm').serializeArray();
        $.each(t, function() {
            formData[this.name] = this.value;
        });
        var url ='/api/save_template';
        $.ajax({
            url:url,
            type:'POST', //GET
            async:true,    //或false,是否异步
            data:formData,
            contentType:"application/x-www-form-urlencoded",
            dataType : "json",
            success:function(data,textStatus,jqXHR){
                if(data['status']=="0"){
                    alert("成功录入");
                    location.href="/templateList";
                }else{
                    alert(data['message']);
                }
            },
            error:function(xhr,textStatus){
                alert("请求创建失败，请联系开发人员");
            }
        })
    }

    function chooseThis(data) {
        if (!confirm("确定要删除吗？")){
            return false;
        }
        var value = $(data).closest("tr").find("input").val();
        var url ='/api/delete_template/'+value;
        $.ajax({
            url:url,
            type:'GET', //GET
            async:true,
            contentType:"application/x-www-form-urlencoded",
            dataType : "json",
            success:function(data,textStatus,jqXHR){
                if(data['status']=="0"){
                    alert("成功删除");
                    location.href="/templateList";
                }else{
                    alert(data['message']);
                }
            },
            error:function(xhr,textStatus){
                alert("请求创建失败，请联系开发人员");
            }
        })
    }
    
</script>
</html>
