package ${package}.${moduleName}.dao;

import ${package}.${moduleName}.po.${className}Po;
import org.apache.ibatis.annotations.Mapper;

/**
 * ${comment}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Dao extends BaseDao<${className}Po> {
	
}
