<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.dao.${className}Dao">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="${package}.po.${className}Po" id="BaseResultMap">
#foreach($column in $columns)
        <result property="${column.attrLittleName}" column="${column.columnName}"/>
#end
    </resultMap>

    <!--
          选择性插入
        -->
    <sql id="Base_Insert_Selective">
        <trim prefix="(" suffix=")" suffixOverrides=",">
#foreach($column in $columns)
            <if test="${column.attrLittleName}!=null">
                ${column.columnName},
            </if>
#end
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
#foreach($column in $columns)
            <if test="${column.attrLittleName}!=null">
                #{${column.attrLittleName},jdbcType=${column.dataType},
            </if>
#end
        </trim>
    </sql>

    <!--
      数据库表的基本查询列名集合
    -->
    <sql id="Base_Column_List">
#foreach($column in $columns)
        ${column.columnName},
#end
    </sql>

    <!--
        Where子句
      -->
    <sql id="Base_Query_Where">
#foreach($column in $columns)
        <if test="${column.attrLittleName}!=null">
            #{${column.attrLittleName},jdbcType=${column.dataType},
        </if>
#end
    </sql>

    <!--
        基本更新字段
    -->
    <sql id="Base_Update_Column">
        <set>
#foreach($column in $columns)
            <if test="${column.attrLittleName}!=null">
                #{${column.attrLittleName},jdbcType=${column.dataType},
            </if>
#end
        </set>
    </sql>

    <!--
        分页查询数据库表
      -->
    <select id="selectPaged" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ${tableName}
    </select>

    <!--
      根据主键查询数据库表
    -->
    <select id="selectByPrimaryKey" parameterType="${pk.attrType}" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from  ${tableName}
        where   ${pk.columnName} = #{${pk.attrLittleName},${pk.dataType}}
    </select>


    <!--
      根据主键删除数据库表中的记录
    -->
    <delete id="deleteByPrimaryKey" parameterType="${pk.attrType}">
        delete FROM ${tableName}
        where  ${pk.columnName} = #{${pk.attrLittleName},${pk.dataType}}
    </delete>

    <!--
      添加一条记录到数据库表中
    -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="${package}.po.${className}Po">
        insert into cps_lock
        (<include refid="Base_Column_List"/>)
        values (
#foreach($column in $columns)
            <if test="${column.attrLittleName}!=null">
                #{${column.attrLittleName},jdbcType=${column.dataType},
            </if>
#end
        )
    </insert>

    <!--
     有选择的添加一条记录到数据库表中
   -->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
            parameterType="${package}.po.${className}Po">
        insert into ${tableName}
        <include refid="Base_Insert_Selective"/>
    </insert>

    <!--
      有选择的可忽略添加一条记录到数据库表中
    -->
    <insert id="insertSelectiveIgnore" useGeneratedKeys="true" keyProperty="id"
            parameterType="${package}.po.${className}Po">
        insert ignore into ${tableName}
        <include refid="Base_Insert_Selective"/>
    </insert>

    <!--
      根据主键有选择的更新数据库表
    -->
    <update id="updateByPrimaryKeySelective" parameterType="${package}.po.${className}Po">
        update ${tableName}
        <include refid="Base_Update_Column"></include>
        where ${pk.columnName} = #{${pk.attrLittleName},${pk.dataType}}
    </update>


    <!--
      根据主键更新数据库表
    -->
    <update id="updateByPrimaryKey" parameterType="${package}.po.${className}Po">
        update ${tableName}
        <set>
#foreach($column in $columns)
            <if test="${column.attrLittleName}!=null">
                ${column.columnName} = #{${column.attrLittleName},jdbcType=${column.dataType}},
            </if>
#end
        </set>
        where ${pk.columnName} = #{${pk.attrLittleName},${pk.dataType}}
    </update>

    <!--
      批量添加记录到数据库表中
    -->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
#foreach($column in $columns)
            ${column.columnName},
#end
        </trim>
        values
        <foreach collection="list" index="index" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
#foreach($column in $columns)
                #{${column.attrLittleName},jdbcType=${column.dataType}},
#end
            </trim>
        </foreach>
    </insert>

    <!--
      根据主键批量更新数据库表中的记录
    -->
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            update ${tableName}
            <set>
                <trim suffixOverrides=",">
#foreach($column in $columns)
                    <if test="item.${column.attrLittleName}!=null">
                        ${column.columnName} = #{${column.attrLittleName},jdbcType=${column.dataType}},
                    </if>
#end
                </trim>
            </set>
            <where>
                <trim suffixOverrides=",">
                    where ${pk.columnName} = #{${pk.attrLittleName},${pk.dataType}}
                </trim>
            </where>
        </foreach>
    </update>

    <!--
     使用给定的字段名定义Where子句
   -->
    <sql id="Identifiers_Array_Conditions">
        <foreach collection="array" index="index" item="item" separator=" and ">
#foreach($column in $columns)
            <if test="item == ${column.attrLittleName}">
                ${column.columnName} = #{${column.attrLittleName},jdbcType=${column.dataType}}
            </if>
#end
        </foreach>
    </sql>

    <!--
      存在即更新否则插入
    -->
    <update id="upsert" parameterType="${package}.po.${className}Po">
        insert into ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
#foreach($column in $columns)
            ${column.columnName},
#end
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
#foreach($column in $columns)
            #{${column.attrLittleName},jdbcType=${column.dataType},
#end
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
#foreach($column in $columns)
            #{${column.attrLittleName},jdbcType=${column.dataType},
#end
        </trim>
    </update>


    <!--
      带有空值检查的存在即更新否则插入
    -->
    <update id="upsertSelective" parameterType="${package}.po.${className}Po">
        insert into ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
#foreach($column in $columns)
            <if test="${column.attrLittleName}!=null">
                ${column.columnName},
            </if>
#end
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
#foreach($column in $columns)
            <if test="${column.attrLittleName}!=null">
                ${column.columnName} = #{${column.attrLittleName},jdbcType=${column.dataType}},
            </if>
#end
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
#foreach($column in $columns)
            <if test="${column.attrLittleName}!=null">
                ${column.columnName} = #{${column.attrLittleName},jdbcType=${column.dataType}},
            </if>
#end
        </trim>
    </update>

    <select id="query" resultMap="BaseResultMap" parameterType="${package}.po.${className}Po">
        select
        <include refid="Base_Column_List"/>
        from ${tableName}
        <where>
            <include refid="Base_Query_Where"></include>
        </where>
    </select>

    <select id="queryTotal" resultType="long">
		select count(*) from ${tableName} 
	</select>


    <delete id="deleteBatch">
        delete from ${tableName} where ${pk.columnName} in
        <foreach item="${pk.attrLittleName}" collection="list" open="(" separator="," close=")">
            #{${pk.attrLittleName}}
        </foreach>
    </delete>

</mapper>