package ${package}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;
import java.util.Map;

import ${package}.dao.${className}Dao;
import ${package}.po.${className}Po;
import ${package}.service.${className}Service;


/**
 * ${comment}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 * @since jdk 1.8
 */
@Service("${classLittleName}Service")
public class ${className}ServiceImpl implements ${className}Service {
	/*<AUTOGEN--BEGIN>*/

    @Autowired
	public ${className}Dao ${classLittleName}Dao;



	@Override
    public Page<${className}Po> selectPaged(RowBounds rowBounds){
        return ${classLittleName}Dao.selectPaged(rowBounds);
	}

    @Override
    public ${className}Po selectByPrimaryKey(${pk.attrType} ${pk.attrLittleName}){
        return ${classLittleName}Dao.selectByPrimaryKey(${pk.attrLittleName});
	}

    @Override
    public Integer deleteByPrimaryKey(${pk.attrType} ${pk.attrLittleName}){
        return ${classLittleName}Dao.deleteByPrimaryKey(${pk.attrLittleName});
	}

    @Override
    public Integer insert(${className}Po ${classLittleName}){
        return ${classLittleName}Dao.insert(${classLittleName});
	}

    @Override
    public Integer insertSelective(${className}Po ${classLittleName}){
        return ${classLittleName}Dao.insertSelective(${classLittleName});
	}

    @Override
    public Integer insertSelectiveIgnore(${className}Po ${classLittleName}){
        return ${classLittleName}Dao.insertSelectiveIgnore(${classLittleName});
	}

    @Override
    public Integer updateByPrimaryKeySelective(${className}Po ${classLittleName}){
        return ${classLittleName}Dao.updateByPrimaryKeySelective(${classLittleName});
	}

    @Override
    public Integer updateByPrimaryKey(${className}Po ${classLittleName}){
        return ${classLittleName}Dao.updateByPrimaryKey(${classLittleName});
	}

    @Override
    public Integer batchInsert(List<${className}Po> list){
        return ${classLittleName}Dao.batchInsert(list);
	}

    @Override
    public Integer batchUpdate(List<${className}Po> list){
        return ${classLittleName}Dao.batchUpdate(list);
	}

    /**
    * 存在即更新
    * @param map
    * @return
    */
    @Override
    public Integer upsert(${className}Po ${classLittleName}){
        return ${classLittleName}Dao.upsert(${classLittleName});
	}

    /**
    * 存在即更新，可选择具体属性
    * @param map
    * @return
    */
    @Override
    public Integer upsertSelective(${className}Po ${classLittleName}){
        return ${classLittleName}Dao.upsertSelective(${classLittleName});
	}

    @Override
    public List<${className}Po> query(${className}Po ${classLittleName}){
        return ${classLittleName}Dao.query(${classLittleName});
	}

    @Override
    public Long queryTotal(){
        return ${classLittleName}Dao.queryTotal();
	}

    @Override
    public Integer deleteBatch(List<${pk.attrType}> list){
        return ${classLittleName}Dao.deleteBatch(list);
	}

	/*<AUTOGEN--END>*/
	
}
