package ${package}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;
import java.util.Map;

import ${package}.dao.${className}Dao;
import ${package}.po.${className}Po;
import ${package}.service.${className}Service;


/**
 * ${comment}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 * @since jdk 1.8
 */
@Service("${classLittleName}Service")
public class ${className}ServiceImpl implements ${className}Service {
	@Autowired
	private ${className}Dao ${classLittleName}Dao;
	
	@Override
	public ${className}Po queryObject(${pk.attrType} ${pk.attrLittleName}){
		return ${classLittleName}Dao.queryObject(${pk.attrLittleName});
	}
	
	@Override
	public List<${className}Po> queryList(Map<String, Object> map){
		return ${classLittleName}Dao.queryList(map);
	}
	
	@Override
	public int queryTotal(Map<String, Object> map){
		return ${classLittleName}Dao.queryTotal(map);
	}
	
	@Override
	public void save(${className}Po ${classLittleName}){
		${classLittleName}Dao.save(${classLittleName});
	}
	
	@Override
	public void update(${className}Po ${classLittleName}){
		${classLittleName}Dao.update(${classLittleName});
	}
	
	@Override
	public void delete(${pk.attrType} ${pk.attrLittleName}){
		${classLittleName}Dao.delete(${pk.attrLittleName});
	}
	
	@Override
	public void deleteBatch(${pk.attrType}[] ${pk.attrLittleName}s){
		${classLittleName}Dao.deleteBatch(${pk.attrLittleName}s);
	}
	
}
