package ${package}.${moduleName}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;
import java.util.Map;

import ${package}.${moduleName}.dao.${className}Dao;
import ${package}.${moduleName}.entity.${className}Entity;
import ${package}.${moduleName}.service.${className}Service;



@Service("${classLittleName}Service")
public class ${className}ServiceImpl implements ${className}Service {
	@Autowired
	private ${className}Dao ${classLittleName}Dao;
	
	@Override
	public ${className}Entity queryObject(${pk.attrType} ${pk.attrLittleName}){
		return ${classLittleName}Dao.queryObject(${pk.attrLittleName});
	}
	
	@Override
	public List<${className}Entity> queryList(Map<String, Object> map){
		return ${classLittleName}Dao.queryList(map);
	}
	
	@Override
	public int queryTotal(Map<String, Object> map){
		return ${classLittleName}Dao.queryTotal(map);
	}
	
	@Override
	public void save(${className}Entity ${classLittleName}){
		${classLittleName}Dao.save(${classLittleName});
	}
	
	@Override
	public void update(${className}Entity ${classLittleName}){
		${classLittleName}Dao.update(${classLittleName});
	}
	
	@Override
	public void delete(${pk.attrType} ${pk.attrLittleName}){
		${classLittleName}Dao.delete(${pk.attrLittleName});
	}
	
	@Override
	public void deleteBatch(${pk.attrType}[] ${pk.attrLittleName}s){
		${classLittleName}Dao.deleteBatch(${pk.attrLittleName}s);
	}
	
}
