package ${package}.service;

import ${package}.po.${className}Po;

import java.util.List;
import java.util.Map;

/**
 * ${comment}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service {
	
	${className}Po queryObject(${pk.attrType} ${pk.attrLittleName});
	
	List<${className}Po> queryList(Map<String, Object> map);
	
	int queryTotal(Map<String, Object> map);
	
	void save(${className}Po ${classLittleName});
	
	void update(${className}Po ${classLittleName});
	
	void delete(${pk.attrType} ${pk.attrLittleName});
	
	void deleteBatch(${pk.attrType}[] ${pk.attrLittleName}s);
}
