package ${package}.service;

import ${package}.po.${className}Po;

import java.util.List;
import java.util.Map;

/**
 * ${comment} service层
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 * @since jdk 1.8
 */
public interface ${className}Service {

    /*<AUTOGEN--BEGIN>*/

    Page<${className}Po> selectPaged(RowBounds rowBounds);

    ${className}Po selectByPrimaryKey(${pk.attrType} ${pk.attrLittleName});

    Integer deleteByPrimaryKey(${pk.attrType} ${pk.attrLittleName});

    Integer insert(${className}Po ${classLittleName});

    Integer insertSelective(${className}Po ${classLittleName});

    Integer insertSelectiveIgnore(${className}Po ${classLittleName});

    Integer updateByPrimaryKeySelective(${className}Po ${classLittleName});

    Integer updateByPrimaryKey(${className}Po ${classLittleName});

    Integer batchInsert(List<${className}Po> list);

    Integer batchUpdate(List<${className}Po> list);

    /**
    * 存在即更新
    * @param map
    * @return
    */
    Integer upsert(${className}Po ${classLittleName});

    /**
    * 存在即更新，可选择具体属性
    * @param map
    * @return
    */
    Integer upsertSelective(${className}Po ${classLittleName});

    List<${className}Po> query(${className}Po ${classLittleName});

    Long queryTotal();

    Integer deleteBatch(List<${pk.attrType}> list);

    /*<AUTOGEN--END>*/

}
